.search-bar {
  flex: 0 0 60px;
  padding: 0 15px;
}

.search-input {
  height: 50px;
  width: 100%;
  border-width: 0 0 1px 0;
  border-color: #c0c0c0;
  font-size: 34px;
  font-family: 'PT Sans', sans-serif;
}
